<!DOCTYPE html>
<html lang="en">
  <head>
    <title>first-nodejs-express</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Create Email</h1>
    <img src="/static/Admirals.PNG" alt="">
  <div>
    <form name="myForm" action="/createAccount"  method="post">
      account: <input type="text" name="account">
      <!--password should use type password-->
      password: <input type = "password" name = "password">
      <input type="submit" value="Submit">
    </form>
  </div>
  <div>
    <form id = 'chatform'>
      <p>char box</p>
      <p>send to:<input type = "text" name = "target"></p>
      <!--<input type = "text" name = "chatBoard" style="width: 300px; height: 200px" >-->
      <textarea id="chatbox" cols="40" rows="5"></textarea>
      <input type = "submit" value = "submit">
    </form>
  </body>

  <script type = "text/javascript" src = "/static/jquery-2.1.4.min.js"></script>
  <script type = "text/javascript" src = "/static/socket.io.js"></script>
  <script type = "text/javascript">
    $(function () {
      var socket = io.connect();

       $('#charform').submit(function (){
         var content = $("textarea").val();
         var target = $("input[name = target]").val();
         var massage = {target: target, content: content};
         socket.emit('chat', massage);
       })
        
    })
</html>
